*{
    margin: 0;
    box-sizing: border-box;
}

                                                /*  ----------------   HEADER   ----------------*/
/* ---- VERSION ESCRITORIO ----*/
body{
    background-color: blue;
}
/* ---- GENERAL ----*/
@media(min-width: 769px){
body{
    background-color: white;
}
header{
    background-color: white;
    font-family: 'Oswald', sans-serif;
}
.containers ul li a{
    text-decoration-line: none;
}
.containers ul li{
    list-style: none;
}
a{
    color: rgb(54, 54, 54);
}

/* ------  */

a:hover{
    color: rgb(218, 241, 199);
}

.containers .logo{
    height: 80px;
    width: 100px;
}

.containers{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}


.listas{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.containers .inputUsuario input{
    width:200%;
}

.inputUsuario .placeHolder{
    margin-left: 30%;
    width: 100%;
    margin-right: 15%;

}
.placeHolder::placeholder{
    text-align: center;
}

.containers .registro{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}
.containers .registro .entrar{
    margin-left: 140%;
}

.containers .registro .carrito{
    width: 1%;
    position: absolute;
    right: 75px;
}

}




/* ---- VERSION MOBILE ----*/
@media(max-width: 768px){
    /* GENERAL*/
    body{
        background-color:white;
    }
    header{

        font-family: 'Oswald', sans-serif;
    }
    a{
        color: black;
    }
    a{
        color: rgb(112, 111, 111);
    }
    .container ul li a{
        text-decoration-line: none;
    }
    .container ul li{
        list-style: none;
    }
    ul li{
        list-style: none;
    }

    /* ------ */
    .container{
        position: relative;
    }
    .container .logo{
        margin: 0;
        margin-left: 45%;
        
    }

    .listas{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .inputUsuario{
        text-align: center;
    }

    .inputUsuario input{
        width: 85%;
    }

    .inputUsuario input:hover{
        background-color: rgb(231, 228, 228) ;
    }


    .placeHolder::placeholder{
        text-align: center;
    }

    .registro{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 0;
    }


}

                                                /*  ----------------   AQUI TERMINA EL HEADER   ----------------*/

/*  --- VERSION ESCRITORIO --- */
@media(min-width: 769px){
    .container-footer{
        /*
        position: fixed;
        left: 0;
        bottom: 0;
        */
        
        width: 100%;
        display: flex;
        font-family: 'Oswald', sans-serif;
        background-color: rgb(136, 136, 136);
        
    }
    /* ESTILO DE FUENTES*/

    .container-footer h3{
        font-size: 20px;
    }

    .container-footer p{
        font-size: 15px;
    }

    .container-footer  .tarjetaDC{
        font-size: 8px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: rgb(66, 65, 65);
    }
    


    /* ----- */
    article:not(.nosotros-general){
        width: 40%;
        border-left: 1px solid black;
    }
    .pagos, .ubicacion, .nosotros, .redes{
        text-align: center;
    }
    .container-footer .container-logo img{
        border-radius: 50%;
        width: 60%;
    }
    .container-footer .container-logo{
        padding-top: 25px ;
        background-color: white;
        text-align: center;
    }
    article .nosotros{
        border-left: none;
    }
    .nosotros-general{
        width: 40%;
    }

    .pagos i{
        font-size: 30px;

    }

    .redes i{
        font-size: 30px;
        width: 20%;
    }

    .container-redes{
        margin-top: 10px;
    }

}




/*Version Mobile */
@media(max-width: 768px){
    /*GENERALES*/
    .container-footer{
        /*
        position: fixed;
        left: 0;
        bottom: 0;
        */
        width: 100%;
        display: flex;
        font-family: 'Oswald', sans-serif;
        background-color: rgb(136, 136, 136);
    }

    .container-footer h3{
        font-size: 10px;
    }
    .container-footer p{
        font-size: 10px;
    }
    .container-footer p a{
        color: black;
        text-decoration: none;
        font-size: 10px;
    }
    /* ------*/
    article{
        width: 40%;
        border-left: 1px solid black;
    }
    .pagos, .ubicacion, .nosotros, .redes{
        text-align: center;
    }

    .container-footer .container-logo img{
        width: 0; /* sacamos la imagen */
    }
}


/*---------------------------------------------------------------*/
/*   HOME    */


@media(min-width: 769px){

    img{
        width: 70%;
        height: 70%;
        flex-wrap: wrap;
        display: block;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imgBanner{
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }


    /*  FUENTE  */


    .ofertas h2{
        border-bottom: 2px solid rgb(71, 71, 71);
        text-align: center;
        font-size: 65px;
    }
    .container-oferta .descripcion h2{
        font-size: 21px;
        display: grid;
        grid-template-columns: 100%;
        padding-top: 10px;      
        grid-template-rows: 80px;
    }


    /**/
    main{
        background-color: rgb(199, 195, 195);
        margin: auto;
    }
    .container-oferta{
        display: flex;
        flex-wrap: wrap;
        
    }
    .container-oferta article{
        border: 1px solid black;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 20%;
        margin: 15px 15px;
        padding-bottom: 6%;
        
    }

    .container-oferta article:first-child{
        margin-left: 10px;
    }

    .container-oferta .caja-oferta{
        height: 50%;
    }  

    .container-oferta .descripcion{
        text-align: center;
    }

    /* BOTONES */
    form{
        text-align: center;
    }
    form button{
        border-radius: 10px;
        background-color: rgb(236, 236, 236);
    }
    form button:hover{
        border-radius: 10px;
        background-color: rgb(245, 244, 244);
    }
    a:hover{
        text-decoration: none;
    }
    /* FIN DE BOTON*/
    .container-oferta .centrar-caja{
        justify-content: center;
    }
    /*
    .ofertas h3{
        display: flex;
        flex-wrap: wrap;
    }
    */

    .precio-oferta{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
        align-items: center;
    }

    .descripcion .precio-oferta .actual{
        text-decoration: line-through;
        font-size: 20px;
    }
    .descripcion .precio-oferta .precio-oferta{
        font-size: 27px;
    }




}


/*   MOBILE    */

@media(max-width: 768px){
    img{
        width: 45%;
        height: 70%;
        flex-wrap: wrap;
        display: block;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /*  FUENTE  */


    .ofertas h2{
        border-bottom: 2px solid rgb(71, 71, 71);
        text-align: center;
        font-size: 45px;
    }
    .container-oferta .descripcion h2{
        font-size: 23px;
    }


    /**/
    main{
        background-color: rgb(199, 195, 195);
        margin: auto;
    }
    .container-oferta{
        overflow: hidden;
    }
    /*.container-oferta{
        display: flex;
        flex-wrap: wrap;
        
    }
    */
    .imgBanner{
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        height: 200px;
    }

    .container-oferta article{
        border: 1px solid black;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
        margin: 15px 15px;
        padding-bottom: 6%;
        
    }

    .container-oferta article:first-child{
        margin-left: 10px;
    }

    .container-oferta .caja-oferta{
        height: 50%;
    }  

    .container-oferta .descripcion{
        text-align: center;
    }

    /* BOTONES */
    form{
        text-align: center;
    }
    form button{
        border-radius: 10px;
        background-color: rgb(236, 236, 236);
    }
    form button:hover{
        border-radius: 10px;
        background-color: rgb(245, 244, 244);
    }
    a:hover{
        text-decoration: none;
    }
    /* FIN DE BOTON*/
    .container-oferta .centrar-caja{
        justify-content: center;
        margin-left: -12px;
    }
    /*
    .ofertas h3{
        display: flex;
        flex-wrap: wrap;
    }
    */

    .precio-oferta{
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-evenly;*/
        justify-content: center;
        margin-top: 10px;
        align-items: center;
    }

    .descripcion .precio-oferta .actual{
        text-decoration: line-through;
        font-size: 20px;
    }
    .descripcion .precio-oferta .precio-oferta{
        font-size: 30px;
    }

}
