<footer>
    <section class="container-footer">

        <div class="container-logo">
            <a href=""><img src="images/LOGO.png" alt=""></a>
        </div>
        <article class="nosotros-general">
            <div class="nosotros">
                <h3>Acerca de TecVIC</h3>
                <p><a href="">¿Quines Somos?</a></p>
                <p><a href="">Ubicacion</a></p>
                <p><a href="">¿Quines Somos?</a></p>
            </div>
        </article>

        <article>
            <div class="ubicacion">
                <h3>¿Donde Estamos?</h3>
                <p>Avenida Mitre 1768, Quilmes</p>
                <p>Tel: +54 1161419541</p>
                <p>Lunes a Viernes de 8:00 a 17:00</p>
            </div>
        </article>

        <article>
            <div class="pagos">
                <h3>Medios de Pagos</h3>
                <p class="tarjetaDC">* Tarjeta de credito y debito</p>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-paypal"></i>
            </div>
        </article>

        <article>
            <div class="redes">
                <h3>Redes</h3>
                <div class="container-redes">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="boton">
                 <a href="/productAdd">SystemProduct</a>
            </div>
        </article>


    </section>
</footer>