<header>
    <div class="container-fluid containers">

        <a href="/"><img src="/images/LOGO.png" alt="" class="logo"></a>

        <ul class="listas">

            <li><a href="/categoria/celulares" class="">Celulares</a></li>
            <li><a href="/categoria/accesorio" class="">Accesorios</a></li>
            <li><a href="" class="">Nootbook</a></li>
            <li><a href="" class="">Tablet</a></li>

        </ul>

        <form action="" class="inputUsuario">
            <input type="text" placeholder="¿Que estas buscando?" class="placeHolder">
        </form>

        <ul class="registro">
            <li><a href="" class="carrito"><i class="fas fa-shopping-basket"></i></a></li>
            <li><a href="/usuario" class="entrar">Entrar</a></li>
            <li><a href="/registro" style="margin-left: 15px;">Registrarse</a></li>
        </ul>


    </div>
</header>