<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>TECVIC</title>
</head>

<body>
    <header>
        <div class="container-fluid containers">

            <a href=""><img src="images/LOGO.png" alt="" class="logo"></a>

            <ul class="listas">

                <li><a href="" class="">Celulares</a></li>
                <li><a href="" class="">Accesorios</a></li>
                <li><a href="" class="">Nootbook</a></li>
                <li><a href="" class="">Tablet</a></li>

            </ul>

            <form action="" class="inputUsuario">
                <input type="text" placeholder="多Que estas buscando?" class="placeHolder">
            </form>

            <ul class="registro">
                <li><a href="" class="carrito"><i class="fas fa-shopping-basket"></i></a></li>
                <li><a href="" class="entrar">Entrar</a></li>
                <li><a href="">Registrarse</a></li>
            </ul>


        </div>
    </header>
    <!-- AQUI TERMINA EL HEADER-->

    <!-- ACA IRIA LO QUE CADA A UNO LE TOCA, ESTA ES LA SECCION-->
    <!-- width: 100%;
         margin: 15px 15px 15px 15px;  /*este siempre se respeta por que es la seccion*/
         poner display: flex; en la section general
    -->


    <main>
        <!-- BANNER -->
        <section>
            <div>
                <img src="images/bannerTECVIC.jpg" alt="" class="container-fluid imgBanner">
            </div>
        </section>

        <!-- OFERTAS-->

        <section class="ofertas">
            <h2 class="container">Ofertas</h2>
            <div class="container-oferta container">
                <div class="container-oferta container centrar-caja">
                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$27.000</h3>
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-apple-iphone-64gb.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung J10 2019</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$15.000</h3>
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-Huaweu-p20-lite-32gb.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular IPHONE 10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$37.000</h3>
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-LG-K40s-negro-32gb.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Withe 10 2015</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$27.000</h3>
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">
                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$27.000</h3>
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A7-negro-64gb.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$15.000</h3>
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-motorola-g8-azul.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$37.000</h3>
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">
                            <div class="descripcion">

                                <h2>Celular Samnsung Withe 10 2015</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$17.000</h3>
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
            </article>


        </section>


        <!-- PRODUCTOS MAS VISTOS-->
        <section>
            
        <section class="ofertas">
            <h2 class="container">Algunos Productos</h2>
            <div class="container-oferta container">
                <div class="container-oferta container centrar-caja">
                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-motorola-g8-azul.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung J10 2019</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular IPHONE 10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Withe 10 2015</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-LG-K40s-negro-32gb.jpg" alt="">
                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-Huaweu-p20-lite-32gb.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-apple-iphone-64gb.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">
                            <div class="descripcion">

                                <h2>Celular Samnsung Withe 10 2015</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
            </article>
        </section>


    </main>



    <!-- AQUI EMPIEZA EL FOOTER-->
    <footer>
        <section class="container-footer">

            <div class="container-logo">
                <a href=""><img src="images/LOGO.png" alt=""></a>
            </div>
            <article class="nosotros-general">
                <div class="nosotros">
                    <h3>Acerca de TecVIC</h3>
                    <p><a href="">多Quines Somos?</a></p>
                    <p><a href="">Ubicacion</a></p>
                    <p><a href="">多Quines Somos?</a></p>
                </div>
            </article>

            <article>
                <div class="ubicacion">
                    <h3>多Donde Estamos?</h3>
                    <p>Avenida Mitre 1768, Quilmes</p>
                    <p>Tel: +54 1161419541</p>
                    <p>Lunes a Viernes de 8:00 a 17:00</p>
                </div>
            </article>

            <article>
                <div class="pagos">
                    <h3>Medios de Pagos</h3>
                    <p class="tarjetaDC">* Tarjeta de credito y debito</p>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-paypal"></i>
                </div>
            </article>

            <article>
                <div class="redes">
                    <h3>Redes</h3>
                    <div class="container-redes">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </article>


        </section>
    </footer>

</body>

</html>