<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="stylesheets/home.css">

<body>
    <!-- AQUI EMPIEZA EL HEADER-->
    <%- include('partials/header') %> 
    <!-- AQUI TERMINA EL HEADER-->

    <!-- ACA IRIA LO QUE CADA A UNO LE TOCA, ESTA ES LA SECCION-->
    <!-- width: 100%;
         margin: 15px 15px 15px 15px;  /*este siempre se respeta por que es la seccion*/
         poner display: flex; en la section general
    -->


    <main>
        <!-- BANNER -->
        <section>
            <div>
                <img src="images/bannerTECVIC.jpg" alt="" class="container-fluid imgBanner">
            </div>
        </section>

        <!-- OFERTAS-->

        <section class="ofertas">
            <h2 class="container">Ofertas</h2>
            <div class="container-oferta container">
                <div class="container-oferta container centrar-caja">
                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Celular Samsung A51 128GB 4GB</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$27.000</h3>
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-apple-iphone-64gb.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung J10 2019</h2>-->
                                <h2>Celular libre A10 Azul 32GB 2gb</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$15.000</h3>
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-Huaweu-p20-lite-32gb.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular IPHONE 10 2020</h2>-->
                                <h2>Celular libre A7 negro 64gb 4gb</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$37.000</h3>
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-LG-K40s-negro-32gb.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Withe 10 2015</h2>-->
                                <h2>Celular libre A01</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$27.000</h3>
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">
                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Celular Huawei p20 Lite 32gb</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$27.000</h3>
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A7-negro-64gb.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$15.000</h3>
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-motorola-g8-azul.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$37.000</h3>
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">
                            <div class="descripcion">

                                <h2>Celular Samnsung Withe 10 2015</h2>
                                <div class="precio-oferta">
                                    <h3 class="actual">$17.000</h3>
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
            </article>


        </section>


        <!-- PRODUCTOS MAS VISTOS-->
        <section>
            
        <section class="ofertas">
            <h2 class="container">Algunos Productos</h2>
            <div class="container-oferta container">
                <div class="container-oferta container centrar-caja">
                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-motorola-g8-azul.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Samnsung Galaxi H2</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung J10 2019</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular IPHONE 10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-libre-A01-Samnsung-galaxy.jpg" alt="">

                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Withe 10 2015</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-LG-K40s-negro-32gb.jpg" alt="">
                            <div class="descripcion">
                                <!--<h2>Celular Samnsung Galaxy S10 2020</h2>-->
                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$25.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-Huaweu-p20-lite-32gb.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$14.500</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-apple-iphone-64gb.jpg" alt="">
                            <div class="descripcion">

                                <h2>Samnsung Galaxi H2 Ram TOPMEGA</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$34.300</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div>
                            <img src="images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">
                            <div class="descripcion">

                                <h2>Celular Samnsung Withe 10 2015</h2>
                                <div class="precio-oferta">
                                    <h3 class="precio-oferta">$16.000</h3>
                                </div>
                            </div>

                            <div class="">
                                <form action="">
                                    <button><a href="">+Detalle</a></button>
                                    <button><a href="">Comprar</a></button>
                                </form>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
            </article>
        </section>


    </main>



    <!-- AQUI EMPIEZA EL FOOTER-->
    <%- include('partials/footer') %> 

</body>

</html>
