<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/plantillaProducto.css">

</head>

<body>
    <!--AQUI EMPIEZA EL HEADER -->
    <%- include('partials/header') %> 
    <!-- AQUI TERMINA EL HEADER-->
    <main>
        <div class="celularTitulo">
            <h2><span class="container">Celulares</span></h2>
        </div>

        <div class=" producto-plantilla container">

            <section class="tabla-filtro">
                <h3>Filtrar</h3>
                <ul>
                    <li><a href="">Precio</a></li>
                    <li><a href="">Mayor Precio</a></li>
                </ul>

                <h3>Filtrar por marca</h3>
                <ul>
                    <li><a href="">Samnsung</li>
                    <li><a href="">LG</a></li>
                    <li><a href="">Motorola</a></li>
                    <li><a href="">Xiaomi</a></li>
                    <li><a href="">iPhone</a></li>
                </ul>
            </section>

            <!--  PROBANDO PARA FILTRO MOBILE-->
            <section>
                <div>
                <nav id="all-menu" style="margin:0;"><!-- tuve que poner margin 0, por que si movia para el costado se notaba un margen derecho blanco grande, viendose feo-->
                    <ul id="menu">
     
                        <li id="filtrar"><a>Filtrar</a>
                            <ul>
                                <li><a href="">Mayor Precio</a></li>
                                <li><a href="">Menor Precio</a></li>
                            </ul>
                        </li>
      

                        <li><a>Filtrar por Marca</a>
                            <ul>
                                <li><a href="">Samnsung</li>
                                <li><a href="">LG</a></li>
                                <li><a href="">Motorola</a></li>
                                <li><a href="">Xiaomi</a></li>
                                <li><a href="">iPhone</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
            </section>




            <!--    ----------------------------------------------------------------------------------------------------------    -->



            <!-- PRECIO NORMAL -->
            <section class="celulares-plantilla">

                <article>
                    <div class="nombre-articulo">

                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular libre A10 Azul 32gb 2GB</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>


                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samsung A51 128GB 4GB</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Xiamoi Note 8 64GB Negro/Blanco</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Xiomi Redmi 9 64gb/4gb Ram 4GB</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Xiaomi Redmi Note 9s 128gb/6gb</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Motorola G8 plus rosa 64gb 4gb Ram</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: $35.000</h4>

                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <!-- AQUI TERMINA EL PRECIO ACTUAL -->

                <!--    ----------------------------------------------------------------------------------------------------------    -->


                <!-- AQUI EMPIEZA PRECIO OFERTA -->
                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: <a class="actual">$35.000</a> <a class="oferta">$37.500</a></h4>


                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: <a class="actual">$35.000</a> <a class="oferta">$37.500</a></h4>


                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: <a class="actual">$35.000</a> <a class="oferta">$37.500</a></h4>


                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: <a class="actual">$35.000</a> <a class="oferta">$37.500</a></h4>


                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: <a class="actual">$35.000</a> <a class="oferta">$37.500</a></h4>


                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <article>
                    <div class="nombre-articulo">
                        <img src="/images/productos/categoriaCelular/celular-A10-Samsung-32GB.jpg" alt="">

                        <div class="referencia-top">
                            <h3>Celular Samnsung Note 10 plus 256gb 12gb ram</h3>
                            <h4>Precio: <a class="actual">$35.000</a> <a class="oferta">$37.500</a></h4>


                            <form action="">
                                <button><a href="">+Detalle</a></button>
                                <button><a href="">Comprar</a></button>
                            </form>
                        </div>

                </article>

                <!-- AQUI TERMINA PRECIO OFERTA-->

            </section>

        </div>
    </main>


    <!-- AQUI EMPIEZA EL FOOTER -->
    <%- include('partials/footer') %> 

</body>

</html>