<!DOCTYPE html>
<html lang="es">
<head>
        <%- include('partials/head') %> 
        <link rel="stylesheet" href="stylesheets/productAdd.css">


<body>
    <!-- AQUI EMPIEZA EL HEADER-->
    <%- include('partials/header') %> 
    <!-- AQUI TERMINA EL HEADER-->
    <div class="container">
        <section class="addProduct">
            <div class="row">
                <div class="titulo col-12">
                    <h1 class="title">Carga del Producto</h1>
                    <h3>Los campos marcados con * son obligatorios</h3>
                </div>
                <div class="col-12">
                    <div class="contenido text-left">
                        <div class="row">
                            <div class="col-12 col-md-5 col-xl-4 categorias">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 col-xl-8 formulario">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <br><label for="">*</label>
                        <input type="text" class="redondeado"  placeholder="Ingrese nombre del producto" name="name" required>
                    </div>
                    <div class="form-group">
                        <br><label for="">*</label>
                        <input type="text" class="redondeado"  placeholder="Ingrese modelo del producto" name="name" required>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <br><label for=""> *</label>
                            <input type="number" class="redondeado" placeholder="Ingrese el precio" name="price" required>
                        </div>
                        <div class="col">
                            <br><label for=""></label>
                            <input type="number" class="redondeado" placeholder="Ingrese el stock" name="discount">
                        </div>
                    </div>
                    <div class="form-group">
                        <br><label>*</label>
                        <select  class="redondeado" name="categorias" required>
                            <option value="seleccion">Seleccione tipo de producto</option>
                            <option value="celular">Celular</option>
                            <option value="tablet">Tablet</option>
                            <option value="notebook">Notebook</option>
                            <option value="accesorio">Accesorio</option>
                        </select>
                    </div>
                    <div class="description">
                        <br><label for="">*</label>
                        <textarea class="redondeado" rows="3" placeholder="Descripción" name="description" required></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <div class="container-img">
                            <label for="">Elija una imagen *</label>
                            <input type="file"  name="image1" required><br>
                        </div>
                        <div class="container-img">
                            <br><label for="">Elija una imagen *</label>
                            <input  type="file"  name="image2" required><br>
                        </div>
                        <div class="container-img">
                            <br><label for="">Elija una imagen *</label>
                            <input type="file"  name="image3" required><br>
                        </div>
                    </div>
                    <div class="mt-5 mr-5 d-flex justify-content-end">
                       <br><button type="submit" class="redondeado">Cargar Producto</button>
                        <button type="reset" class="redondeado">Borrar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!-- AQUI EMPIEZA EL FOOTER-->
    <%- include('partials/footer') %> 
</body>
</html>