<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 
    <link rel="stylesheet" href="stylesheets/users.css">


<body>
    <!-- AQUI EMPIEZA EL HEADER-->
    <%- include('partials/header') %>
    <!-- AQUI TERMINA EL HEADER-->
    <div>
        <br><label for="" class="reg">Nombre de Usuario</label>
        <input type="text" class="redondeado" placeholder="Ingrese su mail" name="mailReg" required><br>
        <br><label for="" class="reg">Contraseña</label>
        <input type="text" class="redondeado" placeholder="Ingrese su contraseña" name="contraseñaReg" required><br>
        <br><button type="submit" class="boton">Acceder</button>
        <button type="delete" class="boton">Borrar</button><br>
        <!-- AQUI EMPIEZA EL FOOTER-->
        <%- include('partials/footer') %>
</body>

</html>